body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://img.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg?w=900&t=st=1721123938~exp=1721124538~hmac=a7aa9e8793b1e3c5bbef2b58c05fc964b404b08a23335ad85a00ae285a7e50ca");
    background-size: cover;
}

header {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 5px;
} 

main {
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.button-mood {
    background-color: bisque;
    border: 1px solid grey;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1.6rem;
    font-size: 2rem;
    margin: 10px;
}